<div class="container">
        <div class="col-sm-12">
            <br />
            <p>Hi guys,</p>
            <br />
            <p>I like coding, and I like our silly simulated hockey leagues.</p>
            <p>I put in an embarrassingly high amount of time working on these kinds of things.</p>
            <p>If you would like to support me, I'd be <em>(even more)</em> happy.</p>
            <br />
            <p>You can send real money: <a href="http://paypal.me/RayBracey" target="_blank">PayPal Me</a> - <em>I'm Ray, btw</em></p>
            <p>You can send fake money: <a href="http://theshl.jcink.net/index.php?showtopic=86755">SHL Deposits</a></p>
            <p>Or you can just send money to a charity: <a href="https://www.charitywatch.org/top-rated-charities">Charity Watch</a> - <em>Hunger is a safe choice</em></p>
            <br />
            <p>Either way, it's much appreciated.</p>
            <p>And if you can't support me, that's perfectly fine.</p>
            <br />
            <p>Just enjoy life. You do you.</p>
            <p>- Bojo</p>
        </div>
</div>
