@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <p>Bonjour and stuff.</p>
        <img src="https://i.imgur.com/KITCXqxm.jpg" style="max-width: 320px; width: 100%;" />
    </div>
    <section>
        <h5>Update 6/23/2018</h5>
        <ul>
            <li>Fixed McDavid, and Labsva...something stats - <em>Fixed!</em></li>
            <li>Updated SMJHL/SHL to Season 41 - <em>Done Son!</em></li>
            <li></li>
        </ul>
        <h5>Update 3/10/2018</h5>
        <ul>
            <li>Add all-time stats for individual teams - <em>Added!</em></li>
            <li>Page 2 and up in seasons shows 50 per page instead of 25. - <em>Fixed!</em></li>
            <li>Shows filler seasons where players didn't actually play. - <em>Removed!</em></li>
            <li>Fix defender Vuro Vlaters and Kian Hamilton - <em>Done!</em></li>
            <li>Fix defender Big Manius and Manious - <em>Done!</em></li>
            <li>Colton Hagan has both of his players on the same name. - <em>Done!</em></li>
            <li>Poosh Live Cam - <em>it looks like an image, but that's a video of him staring into your soul.</em></li>
            <li>pls dont step down as gm - <em>oops too late</em></li>
        </ul>
    </section>
</div>
